<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Validation Form</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'form/form-validation.css' %}" />
	<!-- <link rel="stylesheet" href="assets/form-validation.css"> -->

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>





    <div class="main-content">

        <!-- You only need this form and the form-validation.css -->

        <form class="form-validation" id="myForm" method="post" onsubmit="return validateAll()" action="">
        {% csrf_token %}

            <div class="form-title-row">
                <h1>Pendaftaran</h1>
            </div>

            <div class="form-row form-input-name-row">

                <label>
                    <span>Nama Lengkap</span>
                    <input type="text" name="name" id="name">
                    <span id="fullNameAlert" style="color:red"></span><br>
                </label>


            </div>

            <div class="form-row form-input-phone-row">

                <label>
                    <span>Nomor Telepon</span>
                    <input type="text" name="phone_number" id="phone_number" onblur="blurPhoneFunction()" onfocus="focusPhoneFunction()">

                    <span id="phoneAlert" style="color:red"></span><br>
                </label>


                <!--
                    Add these three elements to every form row. They will be shown by the
                    .form-valid-data and .form-invalid-data classes (see the JS for an example).
                -->

                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>


            <div class="form-row form-input-email-row">

                <label>
                    <span>Email</span>
                    <input type="email" name="email" id="email" value=""  onblur="blurEmailFunction()" onfocus="focusEmailFunction()">
                    <span id="emailAlert" style="color:red"></span><br>
                </label>

                <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>

                <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                <span class="form-invalid-data-info"></span>

            </div>

            <div class="form-row">

                <label>
                    <span>Negara Tujuan Studi</span>
                    <select name="dropdown">
                        <option>Australia</option>
                        <option>United Kingdom</option>
                        <option>New Zealand</option>
                        <option>USA</option>
                    </select>
                </label>

            </div>

             <div class="form-row">

                <label>
                    <span>Kantor IDP Terdekat</span>
                    <select name="dropdown">
                        <option>Bandung</option>
                        <option>Jakarta</option>
                        <option>Surabaya</option>
                        <option>Bali</option>
                        <option>Yogyakarta</option>
                    </select>
                </label>

            </div>

            <div class="form-row">

                <label class="form-checkbox">
                    <span>Saya menyetujui pihak IDP untuk menghubungi</span>
                    <input type="checkbox" name="checkbox" id="agreement" value="false"><br>
                    <span id="agreeAlert" style="color:red"></span><br>
                </label>

            </div>

            <div class="form-row button">

                <input type="submit" value="SUBMIT" id="button"></input>
                <!-- <button type="button" onclick="sendRequest()">AAA</button> -->
            </div>

            <div id="id01" style="font: bold 20px sans-serif;"></div>
        </form>

        <input id="isEmailValid" style="display: none;" value="false"></input>
        <input id="isPhoneValid" style="display: none;" value="false"></input>

    </div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>

// function coba() {
//     var xmlhttp = new XMLHttpRequest();
// var url = "myTutorials.txt";

// xmlhttp.onreadystatechange = function() {
//     if (this.readyState == 4 && this.status == 200) {
//         var myArr = JSON.parse(this.responseText);
//         myFunction(myArr);
//     }
// };
// xmlhttp.open("GET", url, true);
// xmlhttp.send();

// function myFunction(arr) {
//     var out = "";
//     var i;
//     for(i = 0; i < arr.length; i++) {
//         out += '<a href="' + arr[i].url + '">' +
//         arr[i].display + '</a><br>';
//     }
//     document.getElementById("id01").innerHTML = out;
// }
// }


    function sendRequest(json_obj) {
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", "http://localhost:8000/validate/email/");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(json_obj));
    }

    function blurEmailFunction() {
        var x = document.getElementById("email").value;
        // No focus = Changes the background color of input to red

        var json_email = {
            "email": x,
        };
        //fungsi

        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", "http://localhost:8000/validate/email/");
        xmlhttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");
        xmlhttp.send(JSON.stringify(json_email));
        xmlhttp.onreadystatechange = function()
        {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var data = xmlhttp.responseText;
            }
        };
        var obj = JSON.parse(data);
        var str = '';
        if (obj.valid=="True") {
            str = 'true';
        }
        else {
            str = 'false';
        }

        document.getElementById("isEmailValid").innerHTML = str;

        // document.getElementById("id01").innerHTML = x;
        var isTrueSet = (document.getElementById("isEmailValid").value == 'true');
        validateEmailResponse(isTrueSet);

    }

    function blurPhoneFunction() {
        var x = document.getElementById("phone_number").value;
        var json_phone = [
        {
            "phone_number": x
        }];
        //fungsi

        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", "localhost:8000/validate/phone/");
        xmlhttp.setRequestHeader("Content-Type", "application/json; charset=utf-8");
        xmlhttp.send(JSON.stringify(json_phone));
        xmlhttp.onreadystatechange = function()
        {
             if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var data = xmlhttp.responseText;
            }
        };
        var obj = JSON.parse(data);
        var str = '';
        if (obj.valid=="True") {
            str = 'true';
        }
        else {
            str = 'false';
        }

        document.getElementById("isPhoneValid").innerHTML = str;

        var isTrueSet = (document.getElementById("isPhoneValid").value == 'true');
        validatePhoneResponse(isTrueSet);
    }

    function validateEmailResponse(emailValid) {

        if (!emailValid) {
            var errorField = $('.form-input-email-row');

            // Adding the form-invalid-data class will show
            // the error message and the red x for that field

            errorField.addClass('form-invalid-data');
            errorField.find('.form-invalid-data-info').text('Please enter valid email');

        }
        else {
            var successField = $('.form-input-email-row');

            successField.addClass('form-valid-data');
        }
    }

    function validatePhoneResponse(phoneValid) {
        if (!phoneValid) {
            var errorField = $('.form-input-phone-row');

            // Adding the form-invalid-data class will show
            // the error message and the red x for that field

            errorField.addClass('form-invalid-data');
            errorField.find('.form-invalid-data-info').text('Please enter valid phone number');
        }
        else {
            var successField = $('.form-input-phone-row');

            successField.addClass('form-valid-data');
        }
    }

    function validateAll() {
        var fullNameAlert,emailAlert,phoneAlert,agreeAlert = "";

        var fullName = document.getElementById("name").value;
        var email = document.getElementById("email").value;
        var phone = document.getElementById("phone_number").value;

        var v_email = document.getElementById("isEmailValid").value;
        var v_phone = document.getElementById("isPhoneValid").value;



        var result = true;

        //document.getElementById("id01").innerHTML = fullName;

        if (fullName == null || fullName =="" ) {
            fullNameAlert = "Required.";
            result = false;
            document.getElementById("fullNameAlert").innerHTML = fullNameAlert;
        }
        else {
            fullNameAlert = "";
            document.getElementById("fullNameAlert").innerHTML = fullNameAlert;
        }

        if (email == null || email =="" ) {
            emailAlert = "Required.";
            result = false;
            document.getElementById("emailAlert").innerHTML = emailAlert;
        }
        else if (v_email!='true'){
            result = false;
        }
        else {
            emailAlert = "";
            document.getElementById("emailAlert").innerHTML = emailAlert;
        }

        if (phone == null || phone =="" ) {
            phoneAlert = "Required.";
            result = false;
            document.getElementById("phoneAlert").innerHTML = phoneAlert;
        }
        else if (v_phone!='true'){
            result = false;
        }
        else {
            phoneAlert = "";
            document.getElementById("phoneAlert").innerHTML = phoneAlert;
        }

        var agree = document.getElementById("agreement").checked;
        if (agree == false) {
            agreeAlert = "Required.";
            result = false;
            document.getElementById("agreeAlert").innerHTML = agreeAlert;
        }
        else {
            agreeAlert = "";
            document.getElementById("agreeAlert").innerHTML = agreeAlert;
        }




        return result;

    }

</script>

</body>

</html>
